# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
*.pth
*.pkl

# Generated outputs
# results/*.png
# results/*.csv
git 
# OS files
.DS_Store
Thumbs.db
__pycache__/
.ipynb_checkpoints/
*.pyc
.venv/
venv/